:root {
  --colorWhite: #ecf0f1;
  --colorBlack: #2c3e50;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* *** HEADER *** COMPONENT HEADER.JSX *** */

.Header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../src/imgs/img-header.png);
  background-size: cover;
}

.Icon-React {
  position: absolute;
  top: 20px;
  left: 30px;
  height: 80px;
  width: 80px;
  background-image: url(../src/imgs/icon-react.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  animation: ease-in-out infinite 8s rotateIcon;
}

h1 {
  font-size: 4.5rem;
  color: var(--colorWhite);
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 30px;
}

h2 {
  font-size: 3rem;
  color: var(--colorWhite);
  padding: 20px;
}

.Mail {
  color: var(--colorWhite);
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 50px;
}

/* *** MAIN *** COMPONENT MAIN.JSX */
.Main {
  background-color: #04ADE2;
}

/* *** NAVBAR *** SOUS-COMPONENT NAVBAR.JSX de MAIN.JSX */
.Navbar {
  position: sticky;
  top: 0;
  background-color: #23232E;
  box-shadow: 0 2px 5px 0 rgba(35,35,46,1);
  z-index: 1000;
}

.Navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
}

.Navbar ul li {
  margin: 15px 10px;
  padding: 8px 15px;
  border-radius: 2px;
  transition: all .4s;
}

.Navbar ul li a {
  color: var(--colorWhite);
  text-transform: uppercase;
}

.Navbar ul li:hover a{
  color: #14383A;
}

.Navbar ul li:hover {
  background-color: var(--colorWhite);
}

.Navbar ul li:first-child {
  border-left: solid 1px var(--colorWhite);
  border-top: solid 1px var(--colorWhite);
}

.Navbar ul li:nth-child(2) {
  border-top: solid 1px var(--colorWhite);
  border-bottom: solid 1px var(--colorWhite);
}

.Navbar ul li:nth-child(3) {
  border-top: solid 1px var(--colorWhite);
  border-bottom: solid 1px var(--colorWhite);
}

.Navbar ul li:last-child {
  border-right: solid 1px var(--colorWhite);
  border-bottom: solid 1px var(--colorWhite);
}


/* *** ABOUTME *** SOUS-COMPONENT ABOUTME.JSX de MAIN.JSX */
/* CARD (2 ARTICLES) */

.wrapper-card {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-top: 100px;
  color: var(--colorWhite);
  text-align: center;
}

.wrapper-card::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url(../src/imgs/fusee.png);
  transform: rotate(-45deg);
  animation: linear infinite 10s fusee;
  z-index: 0;
}

.card {
  width: 350px;
  background-color: #23232ebd;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 0 rgba(35,35,46,0.5);
  z-index: 1;
}

.card .favicon {
  margin: 30px auto 20px auto;
  background-image: url(../src/imgs/PPF.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 180px;
  box-shadow: 1px 1px 8px 0 rgba(255,255,255,.3);
  border-radius: 50%;
}

.card p {
  font-weight: 300;
  line-height: 1.5rem;
  padding: 15px 20px 20px 20px;
}

.card p span {
  color: #04ADE2;
  font-weight: 400;
}

.whire p {
  padding-top: 0;
  padding-bottom: 0;
}

.whire img {
  background-size: cover;
  background-color: var(--colorWhite);
  border-radius: 50%;
  height: 100px;
  margin-top: 20px;
}

/* CARD-EXP * Expérience professionnelle * Cv pdf */

.wrapper-exp {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: var(--colorWhite);
}

.experience {
  background-image: url(../src/imgs/fixed-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 0 rgba(35,35,46,0.5);
  text-align: center;
}

.listExp ul {
  list-style: none;
  padding: 10px;
  letter-spacing: 3px;
}

.listExp ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.listExp ul li span {
  color: #04ADE2;
  font-weight: 700;
}

.cv {
  padding-bottom: 10px;
}

.cv img {
  background-color: var(--colorWhite);
  border-radius: 3px;
  transition: all .4s;
}

.cv img:hover {
  transform: scale(1.4);
}


/* *** SKILLS SOUS-COMPONENT DE HEADER.JSX *** */

.Skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../src/imgs/space-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--colorWhite);
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.Card-Skill {
  width: 320px;
  height: 120px;
  background-color: #23232ebd;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 0 rgba(35,35,46,0.5);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.React {
  position: relative;
}

.Card-Skill img {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 5%;
  animation: linear infinite 4s iconStar;
}

.Card-Skill h3 {
  padding: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--colorWhite);
}

.Card-Skill span {
  display: block;
  position: relative;
  width: 250px;
  height: 15px;
  margin: 0 auto;
  background-color: #04ADE2;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 0 rgba(35, 35, 46, 1);
}

.Card-Skill .bar-1::after {
  content: '';
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: var(--colorWhite);
}

.Card-Skill .bar-3::after {
  content: '';
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: var(--colorWhite);
}

.Card-Skill .bar-4::after {
  content: '';
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: var(--colorWhite);
}

.Card-Skill .bar-5::after {
  content: '';
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: var(--colorWhite);
}

.Card-Skill .bar-6::after {
  content: '';
  width: 65%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: var(--colorWhite);
}


/* *** MY PROJECTS *** SOUS-COMPONENT DE MAIN.JSX */

#projets {
  overflow: hidden;
}

.wrapper-projets {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #23232ebd;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 0 rgba(35, 35, 46, 1);
  max-width: 700px;
  margin: 70px auto 100px auto;
  padding: 50px;
  z-index: 1;
}

.wrapper-projets::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url(../src/imgs/fusee.png);
  transform: rotate(-45deg);
  animation: ease-in-out infinite 7s fusee-projet;
  z-index: -1;
}

.wrapper-projets img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 0 rgba(255, 255, 255, .1);
  transition: all .4s;
}

.wrapper-projets img:hover {
  transform: scale(1.1);
}

.text p {
  color: var(--colorWhite);
  text-align: center;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 40px 20px 20px 20px;
}

.text p span {
  color: #04ADE2;
  font-weight: 400;
}

.arrow {
  width: 50px;
  margin: 0 auto;
  padding-top: 80px;
  cursor: pointer;
}

.arrow img {
  width: 50px;
  height: 50px;
  transition: all .4s;
}

.arrow img:hover {
  transform: scale(1.2);
}


/* *** FOOTER SOUS-COMPONENT DE APP.JS *** */

.Footer {
  background-image: url(../src/imgs/space.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #23232ebd;
  color: var(--colorWhite);
  font-size: 1.7rem;
  line-height: 3rem;
  letter-spacing: 1.9px;
}

.info a {
  font-weight: bold;
  color: #04ADE2;
  padding: 20px;
}

.info .btn-modal {
  color: var(--colorWhite);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 5px;
  box-shadow: 1px 1px 8px 0 rgba(255, 255, 255, .5);
  transition: all .4s;
  padding: 7px 10px;
  cursor: pointer;
}

.info .btn-modal:hover {
  color: var(--colorBlack);
  background: var(--colorWhite);
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #23232ebd;
  overflow: hidden;
  z-index: 200;
}

.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.form-modal input {
  margin: 15px 0;
  padding: 8px 10px;
  color: var(--colorWhite);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0 rgba(255, 255, 255, .5);
}

.form-modal input[type="email"] {
  width: 300px;
}

.form-modal textarea {
  padding: 8px 10px;
  margin: 20px 0 50px 0;
  color: var(--colorWhite);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0 rgba(255, 255, 255, .5);
}

.form-modal input:focus,
.form-modal textarea:focus {
  outline: none;
  border-color: var(--colorWhite);
}

.form-modal p {
  color: var(--colorWhite);
  font-size: .55rem;
  max-width: 300px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.close {
  position: absolute;
  right: 3%;
  top: 22%;
  height: 60px;
  width: 60px;
}

.close img {
  border-radius: 4px;
  width: 100%;
  opacity: .8;
  cursor: pointer;
}

.reseau {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.reseau img {
  height: 100px;
  width: 100px;
  transition: all .4s;
  animation: ease-in-out infinite 3s iconGray;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3%;
  right: 5%;
  width: 320px;
  height: 60px;
  margin: 0 auto;
  background-color: var(--colorBlack);
  border-bottom: 3px solid #1dd1a1;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0 rgba(255, 255, 255, .5);
  transition: all .3s;
  transform: translateX(380px);
}

.alert.error {
  border-bottom: 3px solid #ff6b6b;
}

.alert-open {
  transform: translateX(0px);
}

.alert span {
  color: var(--colorWhite);
  text-align: center;
  font-weight: 300;
  font-size: .8rem;
}

.copy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B8E9F0;
  color: #23232ebd;
  font-size: .7rem;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}

.arrow-up img {
  position: absolute;
  bottom: 50px;
  right: 25px;
  width: 30px;
  transform: rotate(-90deg);
  transition: all .4s;
  cursor: pointer;
}

.arrow-up img:hover {
  width: 40px;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes iconStar {
  from {
    filter: grayscale(100%);
    transform: rotate(0deg);
  }
  50% {
    filter: grayscale(0%);
    transform: rotate(180deg);
  }
  to {
    filter: grayscale(100%);
    transform: rotate(360deg);
  }
}

@keyframes iconGray {
  from {
    filter: grayscale(100%);
    transform: scale(1);
  }
  50% {
    filter: grayscale(0%);
    transform: scale(1.2);
  }
  to {
    filter: grayscale(100%);
    transform: scale(1);
  }
}

@keyframes fusee {
  from {
    opacity: 0;
    bottom: -80px;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: 500px;
  }
}

@keyframes fusee-projet {
  from {
    opacity: .1;
    bottom: -200px;
    left: -50px;
  }
  25% {
    opacity: 1;
    left: -50px;
  }
  50% {
    left: 50px;
    bottom: 200px;
    opacity: 0.7;
    transform: rotate(20deg);
  }
  75% {
    opacity: 1;
    left: 640px;
    bottom: 350px;
  }
  to {
    opacity: .1;
    bottom: 650px;
    left: 730px;
  }
}

@media only screen and (max-width: 545px) {

  h1 {
    margin-bottom: 0;
    font-size: 4rem;
  }

  h2 {
    padding: 0 0 0 20px;
    font-size: 2.2rem;
  }

  .Navbar ul li {
    font-size: .75rem;
  }

  .Mail {
    padding: 20px;
    margin-top: 10px;
  }

  .experience {
    background-attachment: initial;
  }

}


@media only screen and (max-width: 868px) {

  /* *** CARD *** */
  .wrapper-card {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .card {
    margin: 40px 0;
  }

  /* *** ANIME FUSEE *** */
  .wrapper-card::before {
    display: none;
  }
  /* .wrapper-projets::before {
    display: none;
  } */

  #projets {
    height: 900px;
  }

}

@media only screen and (max-width: 970px) {

  /* *** SKILLS *** */

  .Skills {
    flex-direction: column;
    height: 100%;
  }

}